
<!DOCTYPE html>
<html>
<head>
    <title>List</title>
</head>
<body>

<h3>Employee Information</h3>
<table border=5>
    <thead>
        <td>ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Address</td>
    </thead>

    {% for row in rows %}

        <tr>
            <td>{{row["USERNAME"]}}</td>
            <td>{{row["FIRST_NAME"]}}</td>
            <td>{{row["TELEPHONE"]}}</td>
            <td>{{row["ADRESS"]}}</td>
        </tr>

    {% endfor %}
</table>
<br><br>

<a href="/">Go back to home page</a>

</body>
</html>