<!DOCTYPE html>
<html>
<head>
	<title>Recipes | What's for Dinner?</title>
	<link rel="stylesheet" type="text/css" href="../assets/css/static/index.css">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<script src="https://kit.fontawesome.com/22bd9419e7.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<div class="logo_in_header">
					<img src="" alt="">
				</div>
				<ul class="nav_main">
					<a href="/home"><li class="nav_buttons">Home</li></a>
			        <a href="/store"><li class="nav_buttons">Store</li></a>
			        <a href="/recipe"><li class="nav_buttons">Recipe</li></a>
			        <a href="/loginout"><li class="nav_buttons">Log Out</li></a>
				</ul>
			</nav>
		</header>
		<main>
	        <div class="login_header_box_outer">
	            <div class="login_header_box_inner">
	        	    <h3>Recipes</h3>
	            </div>
	        </div>
	        <div class="text_box_outer">
	            <div class="text_box_inner">
	        	    <p>Take a look at our wonderfull recipes below</p>
	            </div>
	        </div>
	        <div class="image_recipe_full_display_outer_box">
				<div class="recipe_full_display_text_box">
					<h3>Cauliflower Rice Paella Spanish Rice</h3>
					<ul>
					<li>1 small head cauliflower</li>
					<li>3 boneless skinless chicken thighs</li>
					<li>1 tsp olive oil</li>
					<li>1/4 cup chopped pancetta</li>
					<li>3/4 cup chopped spicy chorizo</li>
					<li>6 prawns heads removed by shells still on</li>
					<li>1 onion diced</li>
					<li>2 cloves garlic</li>
					<li>1/2 red pepper chopped</li>
					<li>1/2 tsp saffron threads</li>
					<li>pinch of salt</li>
					<li>1 1/2 cups chopped tomatoes</li>
					<li>1 tbsp white wine vinegar</li>
					<li>1/2 cup chicken broth</li>
					<li>1/4 cup frozen peas</li>
					<li>2 tbsp chopped parsley</li>
					<li>lemon wedges</li>
				    </ul>
					<h3>Instructions</h3>
					<p>
						<br>Heat 1 tsp olive oil in a frying pan on medium high heat.
						<br>Place the cubed chicken in the frying pan and cook for 5 minutes, stirring to ensure nothing burns.
						<br>Add in the chopped pancetta and chorizo and cook until the chorizo has began to brown and the pancetta has become crisp.
						<br>Using a slotted spoon, remove the chicken, chorizo and pancetta from the pan and set aside in a bowl.
						<br> Place the prawns in the pan and cook for 2-3 minutes until pink, and then place in the bowl with the other cooked meats.
						<br>Add in the diced onion, red peppers, garlic and sprinkle with salt.
						<br>Cook for 3-4 minutes until the onions and peppers begin to soften and then add in the paprika and saffron, white wine vinegar, chicken stock and tomatoes.
						<br>Let simmer for 1-2 minutes.
						<br>Increase the heat to hight and add the cauliflower rice, peas (if not Whole30), chicken, pancetta and chorizo in the pan with the sauce, stir and then cover to allow the cauliflower to cook for approximately 10 minutes until the rice becomes tender but not mushy and begins to stick to the bottom of the pan.
						<br>Before serving arrange the prawns on top of the paella and sprinkle with the chopped parsley. Serve with slices of lemon.</p>
					</p>
				</div>
			</div>
			<img class="recipe_image_full_display" src="../assets/images/cauliflower-rice-paella-spanish-rice-f.jpg"></main>
		<main/>
	</div>
	</div>
    <footer class="main_footer">
	    <div class="upper_footer">

	        <div class="adress_in_upper_footer">
		        <h3>Contact Us</h3>
		            <ul>
			            <li><i class="fas fa-map-marker-alt"></i>Limerick City, Limerick</li>
			            <li><i class="fas fa-phone"></i>Phone: +(0)85 3245969</li>
			            <li><i class="far fa-envelope"></i>Email: whatsfordinner@gmail.com</li>
		            </ul>
	        </div>
	        <div class="contact_us_form_footer">
	        	<div class="outer_form_box_footer">
	    	    	<div class="inner_form_box_footer">
	    	    		<h3>Get in touch</h3>
	    	            <form class="main_footer" id="contact-form" method="post" action="/savecontact">

							<input class="contact_input_boxes_footer" placeholder="Name" type="text" name="name" minlength="1" required>

	    	    	        <input class="contact_input_boxes_footer" placeholder="Phone" type="text" name="phone" minlength="1" required>

	    	    	        <input class="contact_input_boxes_footer" placeholder="Email" type="text" name="email" minlength="1" required>

	    	    	        <textarea class="contact_input_boxes_footer" placeholder="Message" type="text" name="message" minlength="1" required></textarea>

	    	    	        <div class="contact_submit_box_footer">

	    	    	   	        <input type="submit" name="Submit">
	    	    	        </div>
	    	    	    </form>
	    	    	</div>
	    	    </div>
	        </div>
			<div class="images_display_footer">
	        	<h3>Start Cooking Now!</h3>
	        	<div class="image1_footer"><img class="footer_image" src="../assets/images/cauliflower-rice-paella-spanish-rice-f.jpg"></div>
	        	<div class="image2_footer"><img class="footer_image" src="../assets/images/stuffed-chicken-kiev-patties-f.jpg"></div>
	        	<div class="image3_footer"><img class="footer_image" src="../assets/images/rainbow-chicken-dinner-paleo-2.jpg"></div>
	        	<div class="image4_footer"><img class="footer_image" src="../assets/images/paneer-fritters-recipe-f2.jpg"></div>
	        </div>
	    </div>
        <div class="lower_footer">
		   &copy;2022
		</div>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script type="text/javascript" src="assets/index.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

</body>
</html>>