<!DOCTYPE html>
<html>
<head>
	<title>Recipes | What's for Dinner?</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='/assets/css/index.css') }}">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<script src="https://kit.fontawesome.com/22bd9419e7.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="wrapper">
		<header>
			<nav>
				<div class="logo_in_header">
					<img src="" alt="">
				</div>
				<ul class="nav_main">
					<a href="/home"><li class="nav_buttons">Home</li></a>
			        <a href="/store"><li class="nav_buttons">Store</li></a>
			        <li class="nav_buttons_active">Recipes</li>
			        <a href="/logout"><li class="nav_buttons">Log Out</li></a>
				</ul>
			</nav>
		</header>
		<main>
	        <div class="login_header_box_outer">
	            <div class="login_header_box_inner">
	        	    <h3>Recipes</h3>
	            </div>
	        </div>
	        <div class="text_box_outer">
	            <div class="text_box_inner">
	        	    <p>Take a look at our wonderfull recipes below</p>
	            </div>
	        </div>
	        <a href="/recipe1">
				<div class="image_recipe_outer_box">
	        	<img class="recipe_image" src="{{url_for('static', filename='/assets/images/cauliflower-rice-paella-spanish-rice-f.jpg')}}">
				<div class="recipe_text_box"><p>Cauliflower Rice Paella Spanish Rice</p></div>
				</div>
			</a>
			<a href="/recipe2">
				<div class="image_recipe_outer_box">
					<img class="recipe_image" src="{{url_for('static', filename='/assets/images/keto-chicken-satay-peanut-sauce-f.jpg')}}">
				 <div class="recipe_text_box"><p>Keto Chicken Satay Peanut Sauce</p></div>
	        </div></a>
	         <a href="/recipe3"><div class="image_recipe_outer_box">
	        	<img class="recipe_image" src="{{url_for('static', filename='/assets/images/rainbow-chicken-dinner-paleo-2.jpg')}}">
				 <div class="recipe_text_box"><p>Rainbow Chicken Dinner Paleo </p></div>
	        </div></a>
			<a href="/recipe4"><div class="image_recipe_outer_box">
	        	<img class="recipe_image" src="{{url_for('static', filename='/assets/images/stuffed-chicken-kiev-patties-f.jpg')}}">
				 <div class="recipe_text_box"><p> Stuffed Chicken Kiev Patties </p></div>
			</div></a>
	    </main>
	</div>
    <footer class="main_footer">
	    <div class="upper_footer">
	        <div class="adress_in_upper_footer">
		        <h3>Contact Us</h3>
		            <ul>
			            <li><i class="fas fa-map-marker-alt"></i>Limerick City, Limerick</li>
			            <li><i class="fas fa-phone"></i>Phone: +(0)85 3245969</li>
			            <li><i class="far fa-envelope"></i>Email: whatsfordinner@gmail.com</li>
		            </ul>
	        </div>
	        <div class="contact_us_form_footer">
	        	<div class="outer_form_box_footer">
	    	    	<div class="inner_form_box_footer">
	    	    		<h3>Get in touch</h3>
	    	            <form class="main_footer" id="contact-form" method="post" action="/savecontact">
							<input class="contact_input_boxes_footer" placeholder="Name" type="text" name="name" minlength="1" required>
	    	    	        <input class="contact_input_boxes_footer" placeholder="Phone" type="text" name="phone" minlength="1" required>
	    	    	        <input class="contact_input_boxes_footer" placeholder="Email" type="text" name="email" minlength="1" required>
							<textarea class="contact_input_boxes_footer" placeholder="Message" type="text" name="message" minlength="1" required></textarea>
	    	    	        <div class="contact_submit_box_footer">
	    	    	   	        <input type="submit" name="Submit">
	    	    	        </div>
	    	    	    </form>
	    	    	</div>
	    	    </div>
	        </div>
			<div class="images_display_footer">
	        	<h3>Start Cooking Now!</h3>
	        	<div class="image1_footer"><img class="footer_image" src="{{url_for('static', filename='/assets/images/cauliflower-rice-paella-spanish-rice-f.jpg')}}"></div>
	        	<div class="image2_footer"><img class="footer_image" src="{{url_for('static', filename='/assets/images/stuffed-chicken-kiev-patties-f.jpg')}}"></div>
	        	<div class="image3_footer"><img class="footer_image" src="{{url_for('static', filename='/assets/images/rainbow-chicken-dinner-paleo-2.jpg')}}"></div>
	        	<div class="image4_footer"><img class="footer_image" src="{{url_for('static', filename='/assets/images/paneer-fritters-recipe-f2.jpg')}}"></div>
	        </div>
	    </div>
        <div class="lower_footer">
		   &copy;2022
		</div>
    </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

<script type="text/javascript" src="assets/index.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>

</body>
</html>