<!DOCTYPE html>
<html>
<head>
	<title>Store | What's for Dinner?</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../assets/css/index.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<script src="https://kit.fontawesome.com/22bd9419e7.js" crossorigin="anonymous"></script>
	
</head>
<body>
	<div class="wrapper">
	    <header>
		    <nav>
		        <ul class="nav_main">
			        <a href="../index.html"><li class="nav_buttons">Home</li></a>
                    <li class="nav_buttons_active">Store</li>
			        <a href="../recipes/recipes.html"><li class="nav_buttons">Recipes</li></a>
			        <a href="../logn/login.html"><li class="nav_buttons">Login</li></a>
		        </ul>
	        </nav>
	    </header>
	    <main>
			<div class="login_header_box_outer">
				<div class="login_header_box_inner">
					<h3>Store</h3>
				</div>
			</div>
			<div class="store_wrapper">
				<div class="outer_store_container">
					<div class="inner_store_container">
						<img id=""# src="../assets/images/sweet-therapy.jpeg">
						<p>SWEET THERAPY: THE JOY OF BAKING<br>
							<br>by Una Leonard<br>
							<br>€20.99<br>
							<br>Hardback<br>
							<div class="add_to_cart_button_box">
						           <button onclick="#" class="add_to_cart_button_">Add to Cart</button>
					        </div>
						</p>
					</div>
					<div class="inner_store_container">
						<img id="#" src="../assets/images/jane-patisery.jpeg">
						<p>JANES PATISSERIE CELEBRATE H/B<br>
							<br>by Jane Dunn<br>
							<br>€19.99<br>
							<br>Hardback<br>
							<div class="add_to_cart_button_box">
						           <button onclick="#" class="add_to_cart_button_">Add to Cart</button>
					        </div>
						</p>
					</div>

					<div class="inner_store_container">
						<img id="#" src="../assets/images/lillys.jpeg">
						<p>LILI'S FAMILY FAVOURITES<br>
							<br>by Lili Forberg<br>
							<br>€18.99<br>
							<br>Hardback<br>
							<div class="add_to_cart_button_box">
						              <button onclick="#" class="add_to_cart_button_">Add to Cart</button>
					        </div>
						</p>
					</div>

					<div class="middle_store_container"></div>

					<div class="inner_store_container">
						<img id="#" src="../assets/images/veg-box.jpeg">
						<p>THE VEG BOX<br>
							<br>by Stephen Flynn<br>
							<br>€19.99<br>
							<br>Hardback<br>
							<div class="add_to_cart_button_box">
						           <button onclick="#" class="add_to_cart_button_">Add to Cart</button>
					        </div>
						</p>
					</div>

					<div class="inner_store_container">
						<img id="#" src="../assets/images/female-factor.jpeg">
						<p>THE FEMALE FACTOR<br>
							<br>by Hazel Wallace<br>
							<br>€21.99<br>
							<br>Hardback<br>
							<div class="add_to_cart_button_box">
						           <button onclick="#" class="add_to_cart_button_">Add to Cart</button>
					        </div>
						</p>
					</div>

					<div class="inner_store_container">
						<img id="#" src="../assets/images/gluten-free.jpg">
						<p>CAN YOU MAKE THAT GLUTEN-FREE?<br>
							<br>by Megan McKenna<br>
							<br>€18.99<br>
							<br>Hardback<br>
							<div class="add_to_cart_button_box">
						           <button onclick="#" class="add_to_cart_button_">Add to Cart</button>
					        </div>
						</p>
					</div>
				</div>
			</div>
	    </main>
    </div>	    	
	<footer class="main_footer">
	    <div class="upper_footer">

	        <div class="adress_in_upper_footer">
		        <h3>Contact Us</h3>
		            <ul>
			            <li><i class="fas fa-map-marker-alt"></i>Limerick City, Limerick</li>
			            <li><i class="fas fa-phone"></i>Phone: +(0)85 3245969</li>
			            <li><i class="far fa-envelope"></i>Email: whatsfordinner@gmail.com</li>
		            </ul>
	        </div>
	        <div class="contact_us_form_footer">
	        	<div class="outer_form_box_footer">
	    	    	<div class="inner_form_box_footer">
						<h3>Get in touch</h3>
	    	            <form class="main_footer" id="contact-form" method="post" action="/savecontact">

							<input class="contact_input_boxes_footer" placeholder="Name" type="text" name="name" minlength="1" required>

	    	    	        <input class="contact_input_boxes_footer" placeholder="Phone" type="text" name="phone" minlength="1" required>

	    	    	        <input class="contact_input_boxes_footer" placeholder="Email" type="text" name="email" minlength="1" required>

	    	    	        <textarea class="contact_input_boxes_footer" placeholder="Message" type="text" name="message" minlength="1" required></textarea>

	    	    	        <div class="contact_submit_box_footer">

	    	    	   	        <input type="submit" name="Submit">
	    	    	        </div>
	    	    	    </form>
	    	    	</div>
	    	    </div>
	        </div>
			<div class="images_display_footer">
	        	<h3>Start Cooking Now!</h3>
	        	<div class="image1_footer"><img class="footer_image" src="../assets/images/cauliflower-rice-paella-spanish-rice-f.jpg"></div>
	        	<div class="image2_footer"><img class="footer_image" src="../assets/images/stuffed-chicken-kiev-patties-f.jpg"></div>
	        	<div class="image3_footer"><img class="footer_image" src="../assets/images/rainbow-chicken-dinner-paleo-2.jpg"></div>
	        	<div class="image4_footer"><img class="footer_image" src="../assets/images/paneer-fritters-recipe-f2.jpg"></div>
	        </div>

	    </div>

        <div class="lower_footer">
		   &copy;2022
		</div>  
    </footer>


</body>
</html>